# DotFiles

This repository contains my dotfiles and configuration files for various applications and systems.

{% set sections = [
    {"key": "Checks", "icon": ":test_tube:", "title": "Checks"},
    {"key": "Homes", "icon": ":house_with_garden:", "title": "Homes"},
    {"key": "ModulesCommon", "icon": ":globe_with_meridians:", "title": "Modules (Common)"},
    {"key": "ModulesHome", "icon": ":screwdriver:", "title": "Modules (Home Manager)"},
    {"key": "ModulesNix", "icon": ":wrench:", "title": "Modules (NixOS)"},
    {"key": "Overlays", "icon": ":page_facing_up:", "title": "Overlays"},
    {"key": "Packages", "icon": ":package:", "title": "Packages"},
    {"key": "Systems", "icon": ":desktop_computer:", "title": "Systems"},
    {"key": "Shells", "icon": ":egg:", "title": "Shells"}
] -%}

{% if FIXME -%}
- :bug: [Issues](#bug-issues)
{%- for section in sections if FIXME[section.key] %}
    - {{ section.icon }} [{{ section.title }}](#{{ section.icon.strip(':') }}-{{ section.title|lower|replace(' ', '-') }})
{%- endfor %}
{%- endif %}
{% if TODO -%}
- :construction: [To Do](#clipboard-todo)
{%- for section in sections if TODO[section.key] %}
    - {{ section.icon }} [{{ section.title }}](#{{ section.icon.strip(':') }}-{{ section.title|lower|replace(' ', '-') }}-1)
{%- endfor %}
{%- endif %}
- :rocket: [CI/CD](#rocket-cicd)

{% if FIXME -%}
## :bug: Issues

Below are a list of issues that need to be fixed.

{% for section in sections if FIXME[section.key] -%}
### {{ section.icon }} {{ section.title }}
{% for item, tasks in FIXME[section.key]|dictsort if tasks %}
#### **{{ item }}**
{%- for task in tasks|sort %}
- [ ] {{ task }}
{%- endfor %}
{% endfor %}
{% endfor -%}
{%- endif %}

{%- if TODO -%}
## :clipboard: To Do

Below are a list of features that need to be added.

{% for section in sections if TODO[section.key] -%}
### {{ section.icon }} {{ section.title }}
{% for item, tasks in TODO[section.key]|dictsort if tasks %}
#### **{{ item }}**
{%- for task in tasks|sort %}
- [ ] {{ task }}
{%- endfor %}
{% endfor %}
{% endfor -%}
{%- endif -%}

## :rocket: CI/CD

This repository uses GitHub Actions for CI/CD with runners provisoned using [RunsOn](https://runs-on.com).
